{% extends 'main.html' %}

{% block title %}
	All Subtasks
{% endblock %}

{% block content %}
    <div class="subtasks">
        {% if subtasks %} <!-- Мы можем написать условие, что если сабтаски есть - отображаем их все. -->
            {% for subtask in subtasks %} <!-- -->
                <a href="{% url 'router:tasks:subtask-info' subtask.id %}" class="subtask-link">
                    <div class="subtask">
                        <h2><span class="subtask-description">Title: </span>{{ subtask.title }}</h2>
                        <h4><span class="subtask-description">Category: </span>{{ subtask.category }}</h4>
                        <h4><span class="subtask-description">Status: </span><b>{{ subtask.status }}</b></h4>
                        <p><b><span class="subtask-description">Description: </span></b>{{ subtask.description }}</p>
                        <h4><span class="subtask-description">Task: </span>{{ subtask.task.title|slice:":10" }}
                            {% if subtask.task.title|length > 10 %}...{% endif %}</h4>
                        <h4><span class="subtask-description">Date started: </span>{{ subtask.date_started }}</h4>
                        <h4><span class="subtask-description">Deadline: </span>{{ subtask.deadline }}</h4>
                    </div>
                </a>
            {% endfor %} <!-- -->
        {% else %} <!-- Иначе мы отображать будем спец окошко, мол нет ни одной подзадачи -->
            <div class="no-subtasks-block">
                <h1>Looks like you don't have any subtask!</h1>
            </div>
        {% endif %} <!-- Всегда явно указываем закрытие наших блоков. Потому что html за них не шарит. -->
    </div>
{% endblock %}
