.task-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 6em;
}

.task-block {
    width: 590px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding-right: 87px;
    position: relative;
    height: 447px;
}

.task-info {
    padding: 20px 10px 0 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(46, 204, 113, 0.5);
    background-color: inherit;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
}

.task-info-fields {
    color: #c3c1c1
}

.task-info h2, .task-info h4, .task-info p {
    margin: 5px 0;
    font-size: 28px;
    color: rgba(22, 160, 133, 0.8);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Добавляет пространство между кнопками */
    align-items: center;
}


.update-button, .delete-button {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent; /* Прозрачный фон */
    transition: background-color 0.3s ease;
}

.update-button {
    text-decoration: none;
    border: 2px solid rgba(22, 160, 133, 0.6);
    box-shadow: 0 0 10px rgba(22, 160, 133, 0.8);
    color: rgba(22, 160, 133, 0.8);
}

.update-button:hover {
    background-color: rgba(22, 160, 133, 0.2);
    color: #c3c1c1;
}

.delete-button {
    text-decoration: none;
    color: rgba(231, 76, 60, 0.6);
    border: 2px solid rgba(231, 76, 60, 0.6); /* Красная граница */
    box-shadow: 0 0 10px rgba(231, 76, 60, 0.8);
}

.delete-button:hover {
    color: #c3c1c1;
    background-color: rgba(231, 76, 60, 0.2);
}

.create-subtask {
    font-weight: 600;
    box-shadow: 0 0 10px rgba(22, 160, 133, 0.6);
}

.create-subtask:hover {
    box-shadow: 0 0 10px rgba(22, 160, 133, 0.8);
}
